DATABASE_URL="mysql://root:password@localhost:3306/lumet"
JWT_SECRET=suSecret
IA_API_URL=http://localhost:8000
EMAIL_USER=example@mail.com
EMAIL_PASS=password
EMAIL_HOST=host.smtp.example
PORT=3000
DB_URI=mongodb://localhost:27017/lumet